*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.DS_Store
.gradle
.idea
*.iml
build
target
file-uploads
.vertx
docker-compose.yml
Dockerfile
vxms-demos/vxms-stream-demo
vxms-demos/vxms-test
vxms-demos/vxms-test/*

vxms-demos/gatling-sample-project/*

out
mod
etcd-ca
.keystore
vxms-demos/vxms-secure-spa-demo/securityConfPrivate.json


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
