language: java

jdk:
  - oraclejdk8

sudo: true

# whitelist
branches:
  only:
    - master

#before_script:
 # - scripts/run_etcd.sh 3.0.0

#before_script: mvn versions:set -DnewVersion=1.0.1

script:
  #- ./etcd/etcd --listen-client-urls 'http://0.0.0.0:4001' --advertise-client-urls 'http://127.0.0.1:4001' >/dev/null 2>&1 &
  - mvn -q clean install -Dsun.net.http.allowRestrictedHeaders=true -Djava.net.preferIPv4Stack=true -Djava.net.preferIPv4Addresses=true

# after_success: mvn versions:set -DnewVersion=1.0.2-SNAPSHOT
